<div class="avatar-choice">
  {{radio-button id="gravatar" name="avatar" value="gravatar" selection=selected}}
  <label class="radio" for="gravatar">{{bound-avatar-template gravatar_avatar_template "large"}} {{{i18n 'user.change_avatar.gravatar'}}} {{email}}</label>
  {{d-button action="refreshGravatar" title="user.change_avatar.refresh_gravatar_title" disabled=gravatarRefreshDisabled icon="refresh"}}
  {{#if gravatarFailed}}
    <p class="error">{{I18n 'user.change_avatar.gravatar_failed'}}</p>
  {{/if}}
</div>
